@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* p{
        @apply text-body;
    } */
}

html {
    scroll-behavior: smooth;
  }
 


  /* Sansation regular */
@font-face {
  font-family: 'Sansation Regular';
  src: url('/font/SansationRegular-OgJP.woff2') format('woff2');
      
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

/* Regular italic */
@font-face {
  font-family: 'Sansation Italic';
  src: url('/font/SansationItalic-WrPA.woff2') format('woff2');
       
  font-weight: 400; /* Regular weight */
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Sansation Light';
  src: url('/font/SansationLight-a5E5.woff2') format('woff2');
  font-weight: 300; /* Light weight */
  font-style: normal;
}

/* light italic */
@font-face {
  font-family: 'Sansation Light Italic';
  src: url('/font/SansationLightItalic-EOZe.woff2') format('woff2');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}
::-webkit-scrollbar {
  width: 12px; 
  background-color: #DBD7E9;/* Adjust width */
}

::-webkit-scrollbar-track {
 background:  #DBD7E9; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background-color: #161719; /* Thumb color */
  border-radius: 10px;
  transition: background-color 1s ease-in-out; /* Smooth, rounded thumb */
  /* Smooth color transition */
}

